.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #474747;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 7px;
    color: #fff;
}
.container p{
    width: 20%;
    text-align: center;
    font-size: 0.8rem;
}
.nameImageContainer {
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;

    img {
        width: 30px;
        margin-left: 5px;
    }

    span{
        font-size: 0.75rem;
    }
}
.cryptoName {
    margin-left: 10px;
}
.symbol {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.7rem !important;
}

.redPriceChange {
    color: #ff2626 !important;
    font-weight: bold;
}
.priceChange {
    color: rgb(0, 204, 0) !important;
    font-weight: bold;
    font-size: 1.1rem;
}