.container {
    width: 55%;
    margin: 30px auto;
}
.title {
    width: 100%;
    background-color: #0f0142;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #212121;
    border-radius: 7px;

    p {
        width: 20%;
        text-align: center;
        color: #fff;
        font-size: 0.9rem;
    }
}