.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #14161a;
    height: 60px;
    padding: 0 100px;
    box-shadow: 0 7px 11px 6px rgba(0,0,0,.39);
    position: sticky;
    top: 0;
}
.textContainer a {
    color: #ecdc55;
    text-decoration: none;
    font-size: 1.2rem;
}
.selectContainer {
    width: 120px;
    border: 1px solid #2c303a;
    position: relative;
}
.selection {
    background-color: #14161a;
    color: #fff;
    border: none;
    width: 100%;
    padding: 3px 5px;
    outline: none;
    cursor: pointer;

    p{
        color: #fff;
        font-size: 0.8rem;
    }

}
.options {
    display: none;
    position: absolute;
    width: 120px;
    border-radius: 5px;
    background-color:  #14161a;
    border: 1px solid #fff;

    a {
        color: #fff;
        font-size: 0.8rem;
        text-decoration: none;

        &:hover {
            color: #14161a;
        }
    }

    p {
        margin: 3px 0;
        padding: 5px 5px ;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
    }
}
.selectContainer:hover .options {
    display: block;
}